	html, body
	{
		height: 100%;
	}
	/* Media Queries for responsiveness */

/* For screens smaller than 768px (adjust as needed) */
@media screen and (max-width: 768px) {
	.container {
	  padding: 0 10px; /* Further adjust padding for smaller screens */
	}
  
	/* Adjust other styles as needed for smaller screens */
  }
	
	body
	{
		margin: 0px;
		padding: 0px;
		background: #181818;
		font-family: 'Didact Gothic', sans-serif;
		font-size: 12pt;
		font-weight: 200;
		color: #FFF;
	}

	.image.fit img {
		width: 100%;
		height: auto;
	}
	h1, h2, h3
	{
		margin: 0;
		padding: 0;
	}
	
	p, ol, ul
	{
		margin-top: 0;
	}
	
	ol, ul
	{
		padding: 0;
		list-style: none;
	}
	
	p
	{
		line-height: 180%;
	}
	
	strong
	{
	}
	
	a
	{
		color: #ee0000;
	}
	
	a:hover
	{
		text-decoration: none;
	}
	
	.container
	{
		overflow: hidden;
		margin: 0em auto;
		width: 1200px;
	}
	
/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

	.image
	{
		display: inline-block;
	}
	
	.image img
	{
		display: block;
		width: 100%;
	}
	
	.image-full
	{
		display: block;
		width: 100%;
		margin: 0 0 2em 0;
	}
	
	.image-left
	{
		float: left;
		margin: 0 2em 2em 0;
	}
	
	.image-centered
	{
		display: block;
		margin: 0 0 2em 0;
	}
	
	.image-centered img
	{
		margin: 0 auto;
		width: auto;
	}




/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

	.button
	{
		display: inline-block;
		padding: 1em 2em 1em 2em;
		letter-spacing: 0.10em;
		margin-top: 2em;
		padding: 1.40em 3em;
		background: #2651a8;
		border-radius: 6px;
		text-decoration: none;
		font-weight: 700;
		font-size: 1em;
		color: #FFF;
	}
	
	.button-alt
	{
		padding: 1em 2em;
		border-color: rgba(0,0,0,.8);
		color: #FFF;
	}
		

/*********************************************************************************/
/* 3-column                                                                      */
/*********************************************************************************/

	.boxA,
	.boxB,
	.boxC
	{
		width: 384px;
	}

	.boxA,
	.boxB
	{
		float: left;
		margin-right: 20px;
	}
	
	.boxC
	{
		float: right;
	}
	.Huzaifa{
		width: 70%;
		border-radius: 15px;
	}
	.abdullah{
		width: 70%;
		border-radius: 15px;
	}
	.mateen{
		width: 70%;
		border-radius: 15px;
	}

	
/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

	.title
	{
		margin-bottom: 3em;
	}
	
	.title h2
	{
		font-size: 2.7em;
	}
	
	.title .byline
	{
		font-size: 1.3em;
		color: rgba(255, 255, 255, 0.808);
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#wrapper
	{
		position: relative;
		padding: 5em 0em 7em 0em;
		background: #FFF;
	}

	


/*********************************************************************************/
/* Extra                                                                         */
/*********************************************************************************/

	#three-column
	{
		text-align: center;
		color: rgba(0,0,0,0.6);
	}

	#three-column .fa
	{
		display: block;
		padding: 1em 0em;
		color: rgba(0,0,0,1);
		font-size: 2em;
	}
	
	#three-column .title h2
	{
		font-weight: bold;
		color: rgba(0,0,0,0.8);
	}

	#three-column .title .byline
	{
		text-align: center;
		color: rgba(0,0,0,.5);
	}

